//! Colors
$color-primary: #F1CDB3;
$colorDefault-bg: #FFFFFF;
$colorDefault-font:#545454;
$colorLight-font: #FAFAFA;
$colorStartScreen-bg: #211F20;
$colorbg-subRrimary: #F6F6F6;
$colorbg-cardPets: #FAFAFA;


//! FONTS
$fontFamily-primary:Georgia;
$fontFamily-second: Arial;

//! BREAKPINTS
$computed-width: 1280px;
$tablets-width: 768px;
$mobile-width: 320px;
