.help{
    background: $colorDefault-bg;
    .wrapper__help{
        @include flex-column;
        align-items: center;
        .section__title{
            @include flex-column;
            align-items: center;
            .sec__titl{
                margin: 0;
                line-height: 125%
            }
        }
        .help_content{
            display: flex;
            flex-direction: row;
            margin-top: 60px;
            flex-wrap: wrap;
            justify-content: center;
            @include media-tablet-size{
                display: grid;
                grid-template-columns: 170px 170px 170px;
                grid-template-rows: 113px 113px 113px;
                gap: 55px 60px;
            }
                .possition__block{
                    height: 113px;
                    @include flex-column;
                    align-items: center;
                    justify-content: space-between;
                    margin-right: 120px;
                    .possit__icon{
                        width: 60px;
                        height: 60px;
                    }
                    .text__possit{
                        font-family: Georgia;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 115%; /* 23px */
                        letter-spacing: 1.2px;
                    }

                    .food{
                        background-image: url('/shelter/assets/svg/icon-pet-food.svg');
                    }
                    .transport{
                        background-image: url('/shelter/assets/svg/icon-transportation.svg');
                    }
                    .toys{
                        background-image: url('/shelter/assets/svg/icon-toys.svg');
                    }
                    .bow-cup{
                        background-image: url('/shelter/assets/svg/icon-bowls-and-cups.svg');
                    }
                    .shamp{
                        background-image: url('/shelter/assets/svg/icon-shampoos.svg');
                    }
                    @include media-tablet-size{
                        margin: 0;
                    }
                }
                .possition__block:nth-child(5){
                    margin-right: 0;
                }
                .possition__block:nth-child(6),.possition__block:nth-child(7),.possition__block:nth-child(8),.possition__block:nth-child(9){
                    margin-top: 55px;
                    @include media-tablet-size{
                        margin: 0;
                    }
                }
                .possition__block:nth-child(9){
                    margin-right: 0;
                }
                .possition__block{
                    height: 113px;
                    @include flex-column;
                    justify-content: space-between;
                    align-items: center;
                    .possit__icon{
                        width: 60px;
                        height: 60px;
                    }
                    .text__possit{
                        font-family: Georgia;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 115%; /* 23px */
                        letter-spacing: 1.2px;
                    }
                    .vitaminis{
                        background-image: url('/shelter/assets/svg/icon-vitamins.svg');
                    }
                    .medicine{
                        background-image: url('/shelter/assets/svg/icon-medicines.svg');
                    }
                    .collars{
                        background-image: url('/shelter/assets/svg/icon-collars-leashes.svg');
                    }
                    .sleeping-area{
                        background-image: url('/shelter/assets/svg/icon-sleeping-area.svg');
                    }

                }

        }
    }
}