.inAdition{
    background: $colorbg-subRrimary;
    .wrapper__inAdition{
        @include flex-row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        @include media-tablet-size{
            display: flex;
            flex-direction: column-reverse;

        }
        @include media-mobile-size{
            flex-direction: column-reverse;
            gap: 42px;
        }
        .inAdition-dog{
            background-image: url('/shelter/assets/png/donation-dog.png');
            width: 505px;
            height: 261px;
            flex-shrink: 0;
            @include media-mobile-size{
                width: 260px;
                height: 135.2px;
                background-size: cover;
            }
        }
        .inAdition-content{
            max-width: 380px;
            @include flex-column;
            align-items: start;
            gap: 20px;
            @include media-mobile-size{
                align-items: center
            }
            .section__title{
                @include flex-column;
                align-items: start;
                @include media-mobile-size{
                    align-items: center;
                }
                .inAdition__title{
                    margin: 0;

                }
            }
            .inAdition_subheading{
                .subheading_text{
                    font-family: $fontFamily-primary;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 110%;
                    letter-spacing: 0.9px;
                    margin: 0;
                    @include media-mobile-size{
                        letter-spacing: 0;
                    }
                }
            }
            .inAdition_creadit_card{
                width: 349px;
                height: 43px;
                background: $color-primary;
                border-radius: 9px;
                @include flex-row;
                align-items: center;
                justify-content: space-around;
                @include media-mobile-size{
                    width: 281px;
                    height: 43px;
                }
                .creadit_card{
                    background-image: url('/shelter/assets/svg/credit-card.svg');
                    width: 30px;
                    height: 23px;
                }
                .number_card{
                    text-decoration: none;
                    color: $colorDefault-font;
                    font-family: $fontFamily-primary;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 115%;
                    letter-spacing: 1.2px;
                    @include media-mobile-size{
                        font-size: 15px;
                    }
                }
            }
            .donat__footerText{
                font-family: $fontFamily-second;
                font-size: 12px;
                line-height: 150%;
                font-style: italic;
                color: #B2B2B2;
                margin: 0;
                @include media-mobile-size{
                    text-align: justify;
                    letter-spacing: 0.3px;
                }
            }
        }
    }
}