.notOnly{
    .wrapper_notOn{
        @include flex-row;
        align-items: center;
        gap: 42px;
        margin-top: 90px;
        @include media-tablet-size{
            @include flex-column;
            margin-top: 60px;
            gap: 100px;
        }
        @include media-mobile-size{
            gap: 105px;
            width: 300px;
        }
        .notOnly__content{
            @include flex-column;
            gap: 42px;
            .notOnly_title{
                margin: 0;
                letter-spacing: 4px;
                @include media-mobile-size{
                    font-family: $fontFamily-primary;
                    font-size: 25px;
                    line-height: 130%;
                    letter-spacing: 3.5px;
                    text-align: center;
                }

            }
            .notOnly__subheading{
                margin-top: 0;
                margin-bottom: 0;
                color: $colorDefault-font;
            }
            @include media-tablet-size{
                max-width: 460px;
                align-items: center;
            }
            @include media-mobile-size{
                text-align: center;
            }
        }
            .start-screen-puppy{
                @include media-tablet-size{
                    width: 569px;
                    height: 593px;
                    flex-shrink: 0;
                }
                @include media-mobile-size{
                    width: 260px;
                    height: 271.774px;
                }
            }
    }
}