.ourFriends{
    background: $colorbg-subRrimary;
    .ourFriends__wrapper{
        @include flex-column;
        align-items: center;

        gap: 60px;
        @include media-mobile-size{
            gap: 42px;
        }
        .ourFriends__title{
            max-width: 400px;
            text-align: center;
            margin: 0;
        }
        .ourFriends__slider{
            @include flex-row;
            align-items: center;
            gap: 53px;
            @include media-tablet-size{
                width: inherit;
                gap: 12px;
            }
            @include media-mobile-size{
                position: relative;
                flex-direction: column-reverse;
                gap: 20px;

            }
            
            .slider__container{
                @include flex-row;
                gap: 90px;
                @include media-tablet-size{
                    gap: 40px;
                    overflow: hidden;
                    max-width: 580px;
                }
                @include media-mobile-size{
                    max-width: 270px;
                    overflow: hidden;
                    order: 3;
                }
                .card-pets{
                    background: $colorbg-cardPets;
                    @include card-possition;
                    width: 270px;
                    height: 435px;
                    border-radius: 9px;
                    .namecard{
                        @include card-name;
                        color: $colorDefault-font;
                    }

                }

            }
        }

    }
}