html{
    scroll-behavior: smooth;
}


body {
    max-width: 1280px;
    margin: auto;
    @include media-tablet-size{
        max-width: 768px;
    }
    @include media-mobile-size{
        max-width: 320px;
    }
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    @include media-tablet-size{
        width: 708px;
    }
    @include media-mobile-size{
        width: 280px;
    }
}
.wrapper__section{
    padding-top: 80px;
    padding-bottom: 100px;
}
button:hover{
    cursor: pointer;
}

* {
    box-sizing: border-box;
}